.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: fit-content;

    
    & .cart-icon{
        position: relative;
        @media screen and(max-width:425px) {
            right:0;
        }


        
        .shopping-icon {
            font-size: 50px;

            @media screen and  (max-width:1920px){
                font-size: 35px;          
              }
              @media screen and  (max-width:1660px){
                font-size: 32px;          
              }
              @media screen and  (max-width:1440px){
                font-size: 30px;          
              }
              @media screen and  (max-width:1200px){
                font-size: 28px;          
              }
              @media screen and  (max-width:900px){
                font-size: 24px;          
              }
        }
        & .blue-dot{
            color:#00AAE4 !important;
            font-size: 20px;
            position: absolute;
            top:0;
            right:2%;
            @media screen and  (max-width:1920px){
                font-size: 13px;          
              }
              @media screen and  (max-width:1660px){
                font-size: 11px;          
              }
              @media screen and  (max-width:1440px){
                font-size: 10px;          
              }
              @media screen and  (max-width:1200px){
                font-size: 8px;          
              }
              @media screen and  (max-width:900px){
                font-size: 7px;          
              }
            // @media screen and(max-width:425px) {
            //     display: none;
            // }
        } 
    }

  & .cart-number{
      font-size: 32px;
      font-weight: bold;
      margin:0 !important;
      font-family: "Times New Roman", Times, serif;

      @media screen and  (max-width:1920px){
        font-size: 26px;          
      }
      @media screen and  (max-width:1660px){
        font-size: 22px;          
      }
      @media screen and  (max-width:1440px){
        font-size: 20px;          
      }
      @media screen and  (max-width:1200px){
        font-size: 18px;          
      }
      @media screen and  (max-width:900px){
        font-size: 16px;          
      }
      @media screen and(max-width:425px) {
        display:none ;
    }
  }
}