.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: fit-content;

    
    & .cart-icon{
        position: relative;

        @media screen and(max-width:425px) {
            right:0;
        }

        & .blue-dot{
            color:#00AAE4 !important;
            font-size: 10px;
            position: absolute;
            top:0;
            right:0%;
            @media screen and(max-width:425px) {
                display: none;
            }
        } 
    }

  & .cart-number{
      font-weight: bold;
      margin:0 !important;
      font-family: "Times New Roman", Times, serif;
      @media screen and(max-width:425px) {
        display:none ;
    }
  }
}