.nav {
  position: sticky;
  top:0;
  z-index: 200;
  box-shadow: 2px 2px 8px 2px lightgray;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffce25;
  height: 120px;
  position: sticky;
  position: -webkit-sticky;
  top:0;

  & .navbar__logo {
    width:fit-content;
    cursor: pointer;
    margin-left:5%;
    & .logo-link{
      text-decoration: none;
      top:40%;
      & .tinel-text {
        letter-spacing: -5px;
        font-style:oblique;
        color: #ffffff;
        font-size: 50px;
        font-weight: bold;
        margin:0 !important;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: #fff;
        text-shadow: 2px 0 0 #1d1d1b, -2px 0 0 #1d1d1b, 0 2px 0 #1d1d1b,
          0 -2px 0 #1d1d1b, 1px 1px #1d1d1b, -1px -1px 0 #1d1d1b,
          1px -1px 0 #1d1d1b, -1px 1px 0 #1d1d1b;
  
      }
  
      & .workshop-text {
        position: absolute;
        font-style: oblique;
        font-weight: bold;
        letter-spacing: -2px;
        left:6%;
        bottom:0%;
        font-size: 25px;
        color: #1d1d1b;
        font-weight: 600;
        margin:0 !important;
        margin-bottom: 15px !important;
        margin-right: 20px !important;

        
      }
    }

  }

  .cart_div{
    margin-right: 5%;
    display: flex;
    align-items: center;
    justify-items: center;
    width: max-content;
  }

  
}
